<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../public/js/jquery-1.12.4.js" ></script>
</head>
<body>
   <p><%= psge_message%></p><br/>
   <a href="" id="reload">返回列表</a>
<script type="text/javascript">
    /*    document.getElementById("reload").click(function () {
        location.replace(document.referrer);
    });
*/


  </script>
</body>
</html>